$post-margin: 14px;

.cooked {
  box-sizing: border-box;
  @include clearfix;
}

.cooked *,
.cooked *:before,
.cooked *:after {
  box-sizing: inherit;
}

//.cooked > *:first-child {
//  margin-top: $post-margin;
//}

.cooked p {
  margin-top: 0;
}

.cooked hr {
  clear: both;
}

.cooked .clear {
  clear: both;
  background: #fff; // Change this to the bg color variable
  margin: 0;
  height: 0;
  border: none;
}

figure {
  width: 100%;
  margin: 0 0 $post-margin 0;
}

.post-menu-area {
  clear: both;
}

figure img {
  width: 100%;
  height: auto;
}

// quarter
// ==============

.quarter {
  width: calc(25% - (3/4 * #{$post-margin}));;
  float: left;
  margin-right: $post-margin;
}

.quarter.right {
  float: right;
  margin-right: 0;
  margin-left: $post-margin;
}

.quarter.last {
  margin-right: 0;
  margin-left: 0;
}

.quarter.right.last {
  margin-left: 0;
  margin-right: 0;
}

// third
// ===============

.third {
  width: calc(33.3333% - (2/3 * #{$post-margin}));
  float: left;
  margin-right: $post-margin;
}

.third.right {
  float: right;
  margin-right: 0;
  margin-left: $post-margin;
}

.third.last {
  margin-right: 0;
  margin-left: 0;
}

.third.right.last {
  margin-left: 0;
  margin-right: 0;
}

// half
// ==================

.half {
  width: calc(50% - (1/2 * #{$post-margin}));
  float: left;
  margin-right: $post-margin;
}

.half.right {
  float: right;
  margin-right: 0;
  margin-left: $post-margin;
}

.half.last {
  margin-right: 0;
  margin-left: 0;
}

.half.right.last {
  margin-left: 0;
  margin-right: 0;
}

// two thirds
// ==================

.two-thirds {
  width: calc(66.6666% - (1/3 * #{$post-margin}));
  float: left;
  margin-right: $post-margin;
}

.two-thirds.right {
  float: right;
  margin-right: 0;
  margin-left: $post-margin;
}

.two-thirds.last {
  margin-right: 0;
  margin-left: 0;
}

.two-thirds.right.last {
  margin-left: 0;
  margin-right: 0;
}

// three quarters
// ==================

.three-quarters {
  width: calc(75% - (1/4 * #{$post-margin}));
  float: left;
  margin-right: $post-margin;
}

.three-quarters.right {
  float: right;
  margin-right: 0;
  margin-left: $post-margin;
}

.three-quarters.last {
  margin-right: 0;
  margin-left: 0;
}

.three-quarters.right.last {
  margin-left: 0;
  margin-right:0;
}